.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(231, 113, 113);
}

.trump-card {
  position: relative;
  flex-direction: column;
  margin-left: 5px;
}

.game-container {
  position: relative;
  width: 90%;
  height: 90vh;
  background-color: #7fac71;
  border-radius: 16px;
  padding: 0.5rem;
}

.cards-container {
  position: absolute;
  left: 375px;
  bottom: 30px;
  display: flex;
  gap: 1rem;
}

.card {
  position: relative;
  left: 10px;
  width: 100px;
  cursor: pointer;
  transition: all 200ms;
}

.profile {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  position: absolute;
  border-radius: 20;
  border-width: 3;
}

.profile1 {
  transform: translate(-50%);
  top: 10px;
  left: 50%;
}

.profile2 {
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}

.profile3 {
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
}
.rectangle {
  display: none;
  width: 100px;
  height: 100px;
  background: #665761;
}
